@model IEnumerable<CASINO.WEB.factura>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Facturas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente_asociado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_factura)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.numero_factura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cliente_asociado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.total_factura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_factura)
    </td> 
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.numero_factura }) |
        @Html.ActionLink("Details", "Details", new { id = item.numero_factura }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.numero_factura })
    </td>
</tr>
}

</table>
